<div class="billing_address d-flex flex-column text-center">
  <h2>{{type()}}</h2>
  <div [formGroup]="billing()" class="billing_address_form d-flex flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" placeholder="Name">
    </mat-form-field>
    @if (!billing().get('name')!.valid && billing().get('name')!.touched) {
      <span
        class="invalid-feedback" style="display: block;">
        *Please enter name
      </span>
    }
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" placeholder="email">
    </mat-form-field>
    @if (!billing().get('email')!.valid && billing().get('email')!.touched) {
      <span
        class="invalid-feedback" style="display: block;">
        *Please enter email address
      </span>
    }
    <mat-form-field appearance="outline">
      <mat-label>Phone no</mat-label>
      <input matInput formControlName="phoneNo" type="text" placeholder="phoneNo">
    </mat-form-field>
    @if (!billing().get('phoneNo')!.valid && billing().get('phoneNo')!.touched) {
      <span
        class="invalid-feedback" style="display: block;">
        *Please enter Phone No
      </span>
    }
    <mat-form-field appearance="outline">
      <mat-label>Address 1</mat-label>
      <input matInput formControlName="address1" type="text" placeholder="Address 1">
    </mat-form-field>
    @if (!billing().get('address1')!.valid && billing().get('address1')!.touched) {
      <span
        class="invalid-feedback" style="display: block;">
        *Please enter Address 1
      </span>
    }
  </div>
</div>

