.payment-card {
	width: 50%;
	padding: 25px;
	margin: auto;
}

.payment-options {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 0.5rem 0;
}

.payment-option {
	flex-flow: row-reverse;
}

.payment-logo {
	width: 40px;
	margin-right: 0.5rem;
}

.field-error {
	display: block;
	color: #d53d5e;
	font-size: 0.8rem;
}

@media (max-width: 599px) {
	.payment-card {
		width: 100%;
	}
}
