<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column">
  <mat-form-field appearance="outline">
    <mat-label>Company Name</mat-label>
    <input matInput formControlName='companyName' type="text">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Model No</mat-label>
    <input matInput formControlName='modelNo' type="text">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName='name' type="text">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <input matInput formControlName='category' type="text">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>SubCategory</mat-label>
    <input matInput formControlName='subCategory' type="text">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput formControlName='price' type="text">
  </mat-form-field>

  <button mat-raised-button color="primary" type="button" (click)="onAddImages()">Add product Image</button>
  <div formArrayName="imageList">
    <mat-form-field appearance="outline" *ngFor="let image of imageList.controls; let i=index">
      <mat-label>Product Images</mat-label>
      <input matInput [formControlName]='i' type="text">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="button" (click)="onAddVariants()">Add product variants</button>
  <div formArrayName="variants" fxLayout="column">
    <div *ngFor="let variant of variants.controls; let i=index" [formGroupName]="i">
      <mat-form-field appearance="outline">
        <mat-label>Product color</mat-label>
        <input matInput formControlName='color' type="text">
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="onAddSizes(i)">Add sizes</button>
      <div formArrayName="sizes">
        <mat-form-field appearance="outline" *ngFor="let size of sizes; let i = index">
          <mat-label>Sizes</mat-label>
          <input matInput type="number" [formControlName]="i">
        </mat-form-field>
      </div>

      <div formArrayName="inStock">
        <mat-form-field appearance="outline" *ngFor="let stock of sizes; let i=index">
          <mat-label>In stock</mat-label>
          <input matInput type="number"  [formControlName]="i">
        </mat-form-field>
      </div>

    </div>

  </div>
  <button mat-raised-button color="primary" type="submit" >Submit</button>

</form>
