<mat-toolbar-row fxLayout style="height: 22px; z-index: 100; background-color: white;">
  <div style="margin: auto;">
    <span class="filler"></span>
    <a style="font-size: 12px; font-family: Nunito;">Help</a>
    <span>|</span>
    <a style="color: black; font-size: 12px; font-family: Nunito;" routerLink="/info">Click And Collect</a>
    <span>|</span>
    <a style="font-size: 12px; font-family: Nunito;">Support</a>
    <span class="filler"></span>
  </div>

</mat-toolbar-row>
<mat-toolbar class="header" fxLayout fxHide.xs style="padding: 0px 25px;">
  <span><a mat-button style="text-decoration: none; color: white;" routerLink="/"><img style="width: 50px;" src="../../assets/images/logos/iShoes-logo.png" alt="iShoes"></a></span>
  <span class="filler"></span>
  <div class="navigation" fxHide.lt-sm>
    <a mat-button routerLink="/home">
      Home
    </a>
    <a mat-button routerLink="/">
      Products
    </a>
    <a mat-button>
      Offers
    </a>
    <a mat-button>
      Services
    </a>
  </div>
  <div class="cart">
    <a routerLink="shoppingcart" mat-icon-button><mat-icon matBadge="{{this.productService.getLocalCartProducts().length}}" matBadgeColor="warn">shopping_cart</mat-icon></a>
  </div>
</mat-toolbar>

<mat-toolbar fxHide.gt-xs class="mobile-header">
  <span>
    <a
      mat-button
      style="text-decoration: none; color: white;"
      routerLink="/">
      <img
        style="width: 3rem; padding: .2rem;"
        src="../../assets/images/logos/iRun-pink-logo.png"
        alt="iShoes">
    </a>
    <!-- <span style="font-family: Nunito; font-weight: 700; font-size: 1.6rem;" >iRun</span> -->
  </span>
  <span class="filler"></span>
  <button mat-icon-button type="button" routerLink="/storeselected"><mat-icon fontSet="material-icons-outlined">where_to_vote</mat-icon></button>
  <button mat-icon-button type="button">
    <mat-icon>person_outline</mat-icon>
  </button>
    <button mat-icon-button
      type="button">
      <mat-icon>favorite_border</mat-icon>
    </button>
  <button
    mat-icon-button
    type="button"
    routerLink="/shoppingcart">
    <mat-icon
      matBadge="{{this.productService.getLocalCartProducts().length}}" matBadgeColor="warn"
      fontSet="material-icons-outlined">
      shopping_bag
    </mat-icon>
  </button>

</mat-toolbar>

<!-- <mat-toolbar fxHide.gt-xs>
  <button mat-icon-button type="button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="minifiller"></span>
  <mat-form-field class="example-full-width" style="min-width: 18rem;">
      <input type="text" matInput>
      <mat-placeholder>Find favourite shoes</mat-placeholder>
      <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
  </mat-form-field>
</mat-toolbar> -->
