<mat-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>footer here soon...</h3>
  </div>
</mat-toolbar>

<!-- <mat-toolbar style="z-index: 10; bottom: 0%;" fxLayout="column">
  <mat-divider></mat-divider>
  <ul style="list-style: none; padding-left: 0px;" fxLayout>
    <li class="icon-gap">
      <button
        mat-icon-button
        type="button"
        routerLink="/products">
        <mat-icon fontSet="material-icons-outlined">storefront</mat-icon>
      </button>
    </li>
    <li class="icon-gap">
      <button mat-icon-button
      type="button">
      <mat-icon>favorite_border</mat-icon>
    </button>
    </li>
    <li class="icon-gap">
      <button mat-icon-button type="button">
        <mat-icon>person_outline</mat-icon>
      </button>
    </li>
    <li class="icon-gap">
      <button mat-icon-button type="button">
        <mat-icon>menu</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar> -->


