<mat-stepper
  class="stepper"
  orientation="horizontal"
  labelPosition="bottom"
  [linear]="true"
  fxFlex.gt-xs="65%"
>
  <mat-step
    [stepControl]="firstFormGroup"
    label="Shipping Address"
  >
    <div fxLayout fxLayoutAlign="center center">
      <a
        mat-flat-button
        fxLayout="column"
        class="delivery_button"
        [ngClass]="{'active': isClickNCollect}"
        (click)="selectDelivery('Click N Collect', 0)"
      >
        <mat-icon class="icons" fontSet="material-icons-outlined">shopping_bag</mat-icon>
        <h4>Click N Collect</h4>
      </a>
      <a mat-flat-button fxLayout="column" class="delivery_button" [ngClass]="{'active': !isClickNCollect}" (click)="selectDelivery('Home Delivery', 1)">
        <mat-icon class="icons" fontSet="material-icons-outlined">home</mat-icon>
        <h4>Home delivery</h4>
      </a>

    </div>
    <form [formGroup]="firstFormGroup">
      <cnc-click-n-collect
        *ngIf="isClickNCollect"
        [user]="user"
        (storeChanged)="onStoreChange($event)"
        (productsToRemove)="onProductsToRemove($event)"
        (dateSelected)="dateSelected($event)"
        (timeSelected)="timeSelected($event)"
        (isAllItemsAvailable)="cncItemsAvailable($event)"
      >
      </cnc-click-n-collect>
      <form [formGroup]="secondFormGroup" *ngIf="!isClickNCollect">
        <app-billingDetails
          *ngIf="onlineAllItemsAvailable"
          [billing]="billing"
        ></app-billingDetails>
        <div *ngIf="!onlineAllItemsAvailable">
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            style="padding: 15px;"
          >
            <h2>Not all items available</h2>
            <h5>All items in cart can not be shipped with this option, please either remove products or change delivery option</h5>
          </div>
          <div class="cart-items" fxLayout="column">
            <mat-card *ngFor="let product of cartItemUnavailable; let i=index">
              <div class="item-image-container" fxFlex="30%">
                <img src="{{product.productImage}}" style="width: 100%;" alt="image">
              </div>
              <div fxFlex="50%" fxLayout="column" style="padding-left: 15px;">
                <h3>{{product.productName}}</h3>
                  <mat-card-subtitle>{{'Size : ' + product.size}}
                  <mat-error>out of stock</mat-error>
                </mat-card-subtitle>
              </div>
              <div fxflex="20%">
                <h2 style="line-height: 22px;">{{product.price}}€</h2>
              </div>
            </mat-card>
            <div style="text-align: center; margin: 10px;">
              <button mat-flat-button color="warn" type="button" (click)="removeProductsUnavailable()">Remove unavailable items</button>
            </div>
          </div>
        </div>
      </form>
      <div fxLayout fxLayoutAlign="center center">
        <button
          class="button-style"
          [fxHide]="!isClickNCollect"
          mat-flat-button matStepperNext
          [disabled]="!cncAllItemsAvailable"
        >Next</button>
        <button
          class="button-style"
          [fxHide]="isClickNCollect"
          mat-flat-button matStepperNext
          [disabled]="!onlineAllItemsAvailable"
        >Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Billing" >
    <form *ngIf="isClickNCollect" [formGroup]="secondFormGroup">
      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Billing details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-billingDetails [billing]="billing"></app-billingDetails>
          <mat-action-row>
            <button class="button-style" mat-flat-button matStepperPrevious>Previous</button>
            <button mat-flat-button class="button-style" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

    </form>
    <form [formGroup]="thirdFormGroup">
      <mat-accordion *ngIf="isClickNCollect">
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Payment Methods
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-paymentMethods [paymentMethod]="paymentMethod"></app-paymentMethods>
          <mat-action-row>
            <button
              mat-flat-button
              class="button-style"
              (click)="prevStep()"
            >Previous</button>
            <button
              class="button-style"
              mat-flat-button
              matStepperNext
              (click)="onSubmit()"
            >Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <app-paymentMethods *ngIf="!isClickNCollect" [paymentMethod]="paymentMethod"></app-paymentMethods>
      <div fxLayout fxLayoutAlign="center center" *ngIf="!isClickNCollect">
        <button
          class="button-style"
          mat-flat-button
          matStepperPrevious
        >Previous</button>
        <button
          class="button-style"
          mat-flat-button
          matStepperNext
          (click)="onSubmit()"
        >Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step fxLayout="column" fxLayoutAlign="center center">
    <ng-template matStepLabel >Overview</ng-template>
    <mat-card *ngIf="order">
      <h1 class="title">Your Order Details</h1>
      <mat-card-content fxLayout.gt-xs="row">
        <h2>Your order</h2>
        <div class="cart-items" fxLayout="row">
          <div *ngFor="let product of cartProducts; let i=index">
            <div class="item-image-container" fxFlex="30%">
              <img src="{{product.productImage}}" style="width: 8rem; margin-right: 2rem" alt="image">
              <!-- <span class="details">
                  <a (click)="openDialog()"> See details</a> </span> -->
            </div>
            <!--
              THIS GOES INSIDE DIALOG
              <div fxFlex="50%" fxLayout="row" style="padding-left: 15px;">
              <h3>{{product.productName}}</h3>
              <mat-card-subtitle>{{'Size : ' + product.size}} </mat-card-subtitle>
              <div fxLayout>
                <h3>No of items:</h3>
                <h3 style="padding: 0 15px;">{{product.noOfItems}}</h3>
              </div>
          </div>
            <div fxflex="20%">
              <h2 style="line-height: 22px;">{{product.price}}€</h2>
            </div> -->
          </div>
        </div>
        <div class="filler"></div>
        <div fxLayout="column" gdGridAlign="start stretch" class="order-details">
          <span class="details"><h4>Order ID: </h4><p>{{order.orderId}}</p></span>
          <h2>Email Address</h2>
          <span class="details"><h4>Email: </h4><p>{{order.billingDetails.email}}</p></span>
          <h2>Delivery Address</h2>
          <span class="details"><h4>Store Address: </h4><p>{{order.storeLocation.address}}</p></span>
          <span class="details"><h4>Pickup time & date: </h4><p>{{order.pickupDate| date:'mediumDate'}} {{order.pickupTime}}</p></span>
          <h2>Billing details</h2>
          <span class="details"><h4>Name: </h4><p>{{order.billingDetails.name}}</p></span>
          <span class="details"><h4>Address 1: </h4><p>{{order.billingDetails.address1}}</p></span>
          <span class="details"><h4>Address 2: </h4><p>{{order.billingDetails.address2}}</p></span>
          <span class="details"><h4>Phone No: </h4><p>{{order.billingDetails.phoneNo}}</p></span>
          <h2>Delivery Method</h2>
          <span class="details"><h4>{{order.pickupType}}</h4></span>
          <h2>Payment Method</h2>
          <span class="details"><h4>{{order.paymentOption}}</h4></span>
          <p>At the end of the checkout process, you will be redirected to {{order.paymentOption}} to confirm your purchase.</p>
<!--
          <h2>Total amount incl. VAT</h2>
          <span class="details"><h4>{{orderPrice}} €</h4></span> -->
        </div>
        <div class="filler"></div>

        <mat-card style="background-color: #f7f8f8;">
          <h4>Shipping costs</h4><div class="filler"></div> <p>Free</p>
          <div class="filler"></div>
          <h4>Payment costs</h4><div class="filler"></div> <p>Free</p>
          <div class="filler"></div>
          <h4>Gesamtbetrag inkl. MwSt.</h4><div class="filler"></div> <p>{{orderPrice}} €</p>
        </mat-card>

      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button
          mat-flat-button
          class="button-style"
          (click)="onOrderConfirmation()"
          >Confirm</button>
      </mat-card-actions>
    </mat-card>
    <div>
      <button
        class="button-style"
        mat-flat-button
        matStepperPrevious
      >Back</button>
    </div>
  </mat-step>
</mat-stepper>

<div class="cart-items" fxLayout="column" fxHide.xs fxFlex.gt-xs="35%">
  <h2>Your Order</h2>
  <mat-divider></mat-divider>
  <div *ngFor="let product of cartProducts; let i=index">
    <div class="item-image-container" fxFlex="30%">
      <img src="{{product.productImage}}" style="width: 6rem; margin-right: 1rem" alt="image">
    </div>
  </div>
</div>
