<div style="margin: 15px">
	<h1 style="text-align: center">Click N Collect</h1>
	<h3>What is click and collect?</h3>
	<p>
		Click and collect means that you can have your order sent to one of our physical iRun
		stores/branches throughout the world. To do this, select Click and Collect during the
		checkout process during the ordering process and your order will be ready in the store of
		your choice. Click and collect usually takes 2 to 3 hours for preparing your order for
		collection. Your order will be notified through email when your order is ready.
	</p>
	<h3>Can I have my order delivered to a iRun branch of my choice?</h3>
	<p>
		Yes, you can choose from a list of available branches during product/article selection and
		the click and collect checkout. Please note the currently applicable Corona regulations for
		your location.
	</p>
	<h3>How do I enable click and collect?</h3>
	<p>
		Simply select click and collect as the delivery method during the checkout process during
		the ordering process.
	</p>
	<h3>Can I check if the product/article is available in my desired branch or not?</h3>
	<p>
		Yes, in article/product page you can check availability of product by simply clicking check
		availability option.
	</p>
	<h3>Do I have to select a store every time I re-visit the website?</h3>
	<p>
		No, you just have to select the store once. Our system automatically saves your desired
		store preference so you don't have to select a store everytime you re-visit the site.
	</p>
	<h3>Are there charges for a click and collect?</h3>
	<p>No, the great thing about click and collect is that you save € 2.99 on shipping costs.</p>
	<h3>When can I pick up my order at the store?</h3>
	<p>As soon as the order is ready for collection, we will inform you of this by email.</p>
	<h3>How long will my order be kept for me in the store?</h3>
	<p>The order will be held for you in the branch for 7 working days.</p>
	<h3>What happens if I don't pick up my order after 7 working days?</h3>
	<p>
		Your order will be closed automatically after 7 working days. Depending on the selected
		payment method, the amount will be refunded to you via the payment method you made. The
		average processing time is 14 days. Find out more under Returns & Refunds
	</p>
	<h3>How does the collection in the branch work?</h3>
	<p>
		After receiving the collection confirmation, you have 7 working days to pick up your order
		in the store. Simply speak to our employees in the branch and you will receive your order.
		Please have your ID card and order number ready.
	</p>
	<h3>Can I also only pay for orders when I pick them up?</h3>
	<p>
		No, with the delivery type click and collect, there is only the option of immediate payment
		in the checkout.
	</p>
	<h3>What do I have to bring to pick up my order?</h3>
	<p>
		Please have your ID card and order number ready. If someone else picks up the parcel for you
		at the branch, they need a completed authorization and their identity card. The order number
		is also important here.
	</p>
	<h3>Can someone else pick up my order for me?</h3>
	<p>
		Yes, someone can pick up your order for you at the store. For this, this person needs a
		power of attorney issued by you, their identity card and the order number. You will find a
		power of attorney template attached to the pick-up email.
	</p>
</div>
