.success-icon {
	color: rgb(14, 194, 14);
	font-size: 40px;
}

.success-title {
	padding: 16px 16px 0;
}

.success-subtitle {
	padding: 16px 16px 0;
}

.success-actions {
	text-align: center;
}

.back-btn {
	margin: 15px;
}
