<mat-card-header>
	<mat-icon mat-card-avatar fontSet="material-icons-outlined" class="success-icon"
		>done_all</mat-icon
	>
</mat-card-header>
<mat-card-title class="success-title">Congratulations!</mat-card-title>
<mat-card-subtitle class="success-subtitle">Your order is placed successfully.</mat-card-subtitle>
<mat-card-content>
	<p>
		An email with order details has been sent to you. You can receive it in the specified time.
	</p>
</mat-card-content>
<mat-card-actions class="success-actions">
	<button mat-raised-button class="back-btn" routerLink="/" (click)="onClose()">
		Back to store
	</button>
</mat-card-actions>
