<div class="container" *ngIf="isLoaded">
  <div class="article-quantity row m-auto">

    <span class="filler"></span>
    <div class="article-price row">
      <h3 style="text-decoration: line-through; padding: 5px; color: rgba(0,0,0,.54);">{{+product.price+(+product.price*0.2)}}€</h3>
      <h2 style="margin-left: 5px; font-size: 28px;">{{product.price}}€</h2>
    </div>
  </div>
<!-- Commented out size selector in (+)button of home page -->
  <cnc-size-selector [product]="product" (sizeSelected)="onSizeSelect($any($event))"></cnc-size-selector>


  <div style="width: 100%; text-align: center;">
    <button mat-flat-button class="cart-button" type="button" (click)="addToCart(product)">Add to cart</button>
  </div>

</div>
