.filler {
  flex: 1 1 auto;
}
.image-container {
  width: 100%;
  height: 260px;
}
.main-image {
  width: 100%;
  text-align: center;
}

.image-active {
  border-right: 2px solid #8b283d;
}

a:hover {
  cursor: pointer;
}
.article-header {
  text-align: center;
}

.mat-button-toggle-checked {
  border: 3px solid #80808070;
}
.product_size {
  margin-top: 5px;
}
.product_size_list button {
  min-width: 48px;
  height: 46px;
  margin-right: 5px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
}

.product_size_list_expansion a {
  height: 46px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  padding: 0 24px 16px;
}

.active {
  text-decoration: none;
  background: linear-gradient(180deg, #d53d5e 0%, #8b283d 100%);
  color: #fff !important;
  border-color: #d53d5e !important;
}
.product_availability {
  padding: 15px 5px;
  margin-bottom: 60px;
}
.product_availability h4 {
  font-family: Nunito;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}
.product_availability_zipcode {
  width: 327px;
}
.selected_store {
  margin: 1rem 0;
  text-align: center;
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.variant-selection a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border: 0.125rem solid #c8d3d6;
  border-radius: 50%;
  overflow: hidden;
}
.variant-selection a.active {
  border: 0.125rem solid #00aa7a;
}

mat-accordion,
mat-card,
mat-list,
mat-chip-list {
  margin-bottom: 2rem;
}

mat-list-item {
  text-decoration: none;
  font-weight: bold;
  font-family: Nunito;
}

mat-accordion {
  width: 100%;
  margin-bottom: 5rem;
}

.addToCartBtn {
  background: linear-gradient(180deg, #d53d5e 0%, #8b283d 100%);
  color: #fff;
  font-weight: bold;
  padding: 0.5rem;
  width: 90%;
  margin: 1rem 0 1rem 0;
}

.checkAvailabilitySection {
  background-color: #f7f8f8;
  text-align: center;
}

.done {
  color: #d53d5e;
}
.chips {
  background: linear-gradient(180deg, #d53d5e 0%, #8b283d 100%);
  color: #fff;
}
.availability_button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 1rem 0rem;
  width: 100%;
}
.drawer {
  width: 100%;
  height: 100vh;
}

.star {
  color: #8b283d;
}

.article-quantity {
  justify-content: center;
  align-items: flex-start;
}
