.filler{
  flex: 1 1 auto;
}
.item-image-container{
  width: 100%;
  height: 120px;
}
.checkout-container{
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
}
.checkout-button{
  width: 90%;
  padding: 1rem;
  margin: auto;
}
