.billing-section {
	text-align: center;
}

.billing-form {
	display: flex;
	flex-direction: column;
}

.billing-form mat-form-field {
	width: 300px;
}

.field-error {
	display: block;
	color: #d53d5e;
	font-size: 0.8rem;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}
