<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Delivery type</h2>
  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
    <mat-button-toggle checked="true" value="Click-N-Collect">Click & Collect</mat-button-toggle>
    <mat-button-toggle value="green">Home Delivery</mat-button-toggle>
  </mat-button-toggle-group>
    <div [formGroup]="shippingMethod" fxLayout="column">
      <input type="text" formControlName="type" [formControl]="type" style="display: none;">
      <mat-card>
        <mat-card-content>
          <a fxLayout>
            <div class="icon" fxFlex="20%">
              <mat-icon>room</mat-icon>
            </div>
            <div fxFlex="70%">
              <h2>Collection point</h2>
              <mat-card-subtitle>Add address here</mat-card-subtitle>
            </div>
            <div fxFlex="10%">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </a>
        </mat-card-content>
      </mat-card>
    <div *ngIf="selectedStore" [ngStyle.gt-xs]="{margin: '35px'}" style="margin: 35px 0px;">
      <input type="text" formControlName="shippingAddress" [ngModel]="selectedStore.address" >
      <mat-card fxLayout>
        <div fxFlex="20%">
          <mat-icon>room</mat-icon>
        </div>
        <div fxFlex="70%">
          <h2>Collection Point</h2>
          <mat-card-subtitle>{{selectedStore.address}}</mat-card-subtitle>
        </div>
        <div fxFlex="10%">
          <mat-icon>chevron_right</mat-icon>
        </div>
      </mat-card>
    </div>
    <div class="pickup_date" >
      <mat-form-field fxLayoutAlign="center center">
        <input matInput [ngxMatDatetimePickerFilter]="myFilter" [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="dateControl"
           [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="true"
           [stepHour]="1" [stepMinute]="10"
           [touchUi]="false" [enableMeridian]="true"
           [disableMinute]="false" [hideTime]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <span
      *ngIf="!shippingMethod.get('dateControl')!.valid && shippingMethod.get('dateControl')!.touched"
      class="invalid-feedback" style="display: block;">
       *Please enter date and time!
     </span>
    </div>
  </div>
</div>
