:host {
	display: block;
	min-height: 100vh;
}

.app-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.shopping {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 50;
	width: 100%;
}

.main-content {
	margin-top: 80px;
	flex: 1;
}
