<div class="register-page">
	<h2 class="register-title">Become a part of iRun</h2>

	<div class="register-card">
		@if (!isLoading()) {
			<form [formGroup]="registerForm" class="register-form">
				<div class="form-field">
					<label for="firstName">First Name</label>
					<input
						type="text"
						id="firstName"
						formControlName="firstName"
						[class.is-invalid]="isFieldInvalid('firstName')"
					/>
				</div>

				<div class="form-field">
					<label for="lastName">Last Name</label>
					<input
						type="text"
						id="lastName"
						formControlName="lastName"
						[class.is-invalid]="isFieldInvalid('lastName')"
					/>
				</div>

				<div class="form-field">
					<label for="email">Email</label>
					<input
						type="email"
						id="email"
						formControlName="email"
						[class.is-invalid]="isFieldInvalid('email')"
					/>
				</div>

				<div class="form-field">
					<label for="password">Password</label>
					<div class="input-group">
						<input
							[type]="hidePassword() ? 'password' : 'text'"
							id="password"
							formControlName="password"
							[class.is-invalid]="isFieldInvalid('password')"
						/>
						<button
							type="button"
							class="toggle-btn"
							(click)="togglePasswordVisibility()"
						>
							<mat-icon>{{
								hidePassword() ? 'visibility' : 'visibility_off'
							}}</mat-icon>
						</button>
					</div>
				</div>

				<div class="form-field">
					<label for="confirmPassword">Confirm Password</label>
					<div class="input-group">
						<input
							[type]="hidePassword() ? 'password' : 'text'"
							id="confirmPassword"
							formControlName="confirmPassword"
							[class.is-invalid]="isFieldInvalid('confirmPassword')"
						/>
						<button
							type="button"
							class="toggle-btn"
							(click)="togglePasswordVisibility()"
						>
							<mat-icon>{{
								hidePassword() ? 'visibility' : 'visibility_off'
							}}</mat-icon>
						</button>
					</div>
				</div>

				<div class="form-field">
					<label for="address">Address</label>
					<input
						type="text"
						id="address"
						formControlName="address"
						[class.is-invalid]="isFieldInvalid('address')"
					/>
				</div>

				<div class="form-field">
					<label for="zipCode">Zip Code</label>
					<input
						type="text"
						id="zipCode"
						formControlName="zipCode"
						[class.is-invalid]="isFieldInvalid('zipCode')"
					/>
				</div>

				<div class="form-actions">
					<button
						mat-flat-button
						type="button"
						class="primary-button"
						(click)="onRegister()"
					>
						Register
					</button>
					<button
						mat-flat-button
						type="button"
						class="secondary-button"
						(click)="onCancel()"
					>
						Cancel
					</button>
				</div>
			</form>
		} @else {
			<div class="loading-container">
				<mat-spinner />
			</div>
		}
	</div>
</div>
