
<div style="text-align: center;">
  <img style="width: 80px;" src="../../../assets/images/logos/iRunLogoBnW.png" alt="iRunLogoBnW">
</div>
<div style="text-align: center;">
  <img style="width: 120px; margin-right: 70px" src="../../../assets/images/arrow1.png" alt="arrow1">
</div>
<div style="text-align: center; position: relative;">
  <h2 class="circle" style="position: absolute; top: -15px; left: 22%;">1</h2>
  <img style="width: 80%;" src="../../../assets/images/example.jpg" alt="example">
</div>
<div style="text-align: center;">
  <h2>Select product</h2>
  <p>Find the product you want to purchase and add it to your shopping cart <br>
    Click on the checkout button once the item is in your cart.
    </p>
</div>
<div style="text-align: center;">
  <img src="../../../assets/images/arrow2.png" alt="arrow2">
</div>
<div style="text-align: center; position: relative;">
  <h2 class="circle" style="position: absolute; right: 33%; top: -15px;">2</h2>
  <img style="width: 80%;" src="../../../assets/images/example.jpg" alt="example">
</div>
<div style="text-align: center;">
  <h2>Select your store</h2>
  <p>Whilst in the checkout you can choose the Collect in Store and choose the store you wish to collect your product in</p>
</div>

<div style="text-align: center;">
  <img style="width: 120px; margin-right: 70px" src="../../../assets/images/arrow1.png" alt="arrow1">
</div>
<div style="text-align: center; position: relative;">
  <h2 class="circle" style="position: absolute; top: -15px; left: 22%;">3</h2>
  <img style="width: 80%;" src="../../../assets/images/example.jpg" alt="example">
</div>
<div style="text-align: center;">
  <h2>Complete your order</h2>
  <p>Complete the payment form.You will receive a confirmation email after purchase when the store has processed the order to confirm that your product is ready for collection.
    </p>
</div>
<div style="text-align: center;">
  <img src="../../../assets/images/arrow2.png" alt="arrow2">
</div>
<div style="text-align: center; position: relative;">
  <h2 class="circle" style="position: absolute; right: 33%; top: -15px;">4</h2>
  <img style="width: 80%;" src="../../../assets/images/example.jpg" alt="example">
</div>
<div style="text-align: center;">
  <h2>Collect Product</h2>
  <p>Go to your local store and pick up your purchased product.</p>
</div>
<div style="text-align: center;">
  <img style="width: 120px; margin-right: 70px" src="../../../assets/images/arrow1.png" alt="arrow1">
</div>
<div style="text-align: center; position: relative;">
  <h2 class="circle" style="position: absolute; top: -15px; left: 85px;">5</h2>
  <img style="width: 80%;" src="../../../assets/images/example.jpg" alt="example">
</div>
<div style="text-align: center;">
  <h2>Enjoy</h2>
  <p>Enjoy your product.</p>
</div>
<div style="text-align: center; margin: 30px 0px;">
  <img style="width: 80%;" src="../../../assets/images/steps.jpg" alt="steps">
</div>
