  <mat-card-header>
    <mat-icon mat-card-avatar fontSet="material-icons-outlined" style="color: rgb(14, 194, 14); font-size: 40px;">done_all</mat-icon>
  </mat-card-header>
  <mat-card-title style="padding: 16px 16px 0px;">
    Congratulations!
  </mat-card-title>
  <mat-card-subtitle style="padding: 16px 16px 0px;">
    Your order is placed successfully.
  </mat-card-subtitle>
  <mat-card-content>
    <p> An email with order details has been sent to you. You can receive it in the specified time.</p>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <button mat-raised-button routerLink="/" (click)="onClick()">Back to store</button>
  </mat-card-actions>
