.product-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 16px;
	padding: 16px 0;
}

.product-card {
	display: flex;
	flex-direction: column;
	padding: 8px;
}

.filler {
	flex: 1 1 auto;
}

.item-image-container {
	text-align: center;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-image {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.card-actions {
	display: flex;
	align-items: center;
	margin: 0;
}

.card-actions h2 {
	margin: 0;
}
