<mat-tab-group mat-align-tabs="start">
	<mat-tab label="All">
		<div class="product-grid">
			@if (isLoading) {
				<mat-spinner color="primary"></mat-spinner>
			}
			@for (product of productList | async; track product) {
				<div class="product-card">
					<div class="item-image-container">
						<a routerLink="/products/{{ product.modelNo }}">
							<img
								[ngSrc]="product.imageList?.[0] ?? ''"
								class="item-image"
								alt="image"
								width="300"
								height="300"
							/>
						</a>
					</div>
					<h2>{{ product.name }}</h2>
					<mat-card-subtitle>{{ product.subCategory }}, Power Shoes</mat-card-subtitle>
					<span class="filler"></span>
					<div class="card-actions">
						<h2>{{ product.price }}€</h2>
						<span class="filler"></span>
						<button
							mat-mini-fab
							color="primary"
							class="card-add-btn"
							(click)="openDialog(product)"
						>
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			}
		</div>
	</mat-tab>
	<mat-tab label="Adidas">
		<div class="product-grid">
			@if (isLoading) {
				<mat-spinner color="primary"></mat-spinner>
			}
			@for (product of adidasProducts; track product) {
				<div class="product-card">
					<div class="item-image-container">
						<a routerLink="/products/{{ product.modelNo }}">
							<img
								[ngSrc]="product.imageList?.[0] ?? ''"
								class="item-image"
								alt="image"
								width="300"
								height="300"
							/>
						</a>
					</div>
					<h2>{{ product.name }}</h2>
					<mat-card-subtitle>{{ product.subCategory }}, Power Shoes</mat-card-subtitle>
					<span class="filler"></span>
					<div class="card-actions">
						<h2>{{ product.price }}€</h2>
						<span class="filler"></span>
						<button
							mat-mini-fab
							color="primary"
							class="card-add-btn"
							(click)="openDialog(product)"
						>
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			}
		</div>
	</mat-tab>
	<mat-tab label="Nike">
		<div class="product-grid">
			@if (isLoading) {
				<mat-spinner color="primary"></mat-spinner>
			}
			@for (product of nikeProducts; track product) {
				<div class="product-card">
					<div class="item-image-container">
						<a routerLink="/products/{{ product.modelNo }}">
							<img
								[ngSrc]="product.imageList?.[0] ?? ''"
								class="item-image"
								alt="image"
								width="300"
								height="300"
							/>
						</a>
					</div>
					<h2>{{ product.name }}</h2>
					<mat-card-subtitle>{{ product.subCategory }}, Power Shoes</mat-card-subtitle>
					<span class="filler"></span>
					<div class="card-actions">
						<h2>{{ product.price }}€</h2>
						<span class="filler"></span>
						<button
							mat-mini-fab
							color="primary"
							class="card-add-btn"
							(click)="openDialog(product)"
						>
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			}
		</div>
	</mat-tab>
	<mat-tab label="New Balance">
		<div class="product-grid">
			@if (isLoading) {
				<mat-spinner color="primary"></mat-spinner>
			}
			@for (product of balanceProducts; track product) {
				<div class="product-card">
					<div class="item-image-container">
						<a routerLink="/products/{{ product.modelNo }}">
							<img
								[ngSrc]="product.imageList?.[0] ?? ''"
								class="item-image"
								alt="image"
								width="300"
								height="300"
							/>
						</a>
					</div>
					<h2>{{ product.name }}</h2>
					<mat-card-subtitle>{{ product.subCategory }}, Power Shoes</mat-card-subtitle>
					<span class="filler"></span>
					<div class="card-actions">
						<h2>{{ product.price }}€</h2>
						<span class="filler"></span>
						<button
							mat-mini-fab
							color="primary"
							class="card-add-btn"
							(click)="openDialog(product)"
						>
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			}
		</div>
	</mat-tab>
</mat-tab-group>
