<div class="add-to-cart-container">
	<div class="article-quantity">
		<span class="filler"></span>

		<div class="article-price">
			<h3 class="original-price">{{ originalPrice() | number: '1.2-2' }}€</h3>
			<h2 class="discounted-price">{{ product().price }}€</h2>
		</div>
	</div>

	<cnc-size-selector [product]="product()" (sizeSelected)="onSizeSelect($any($event))" />

	@if (isSizeSelected()) {
		<div class="stock-info">
			@if (stock() > 0) {
				<span class="in-stock"> In stock: {{ stock() }} </span>
			} @else {
				<span class="out-of-stock"> Not available in selected store </span>
			}
		</div>
	}

	<div class="quantity-controls">
		<button mat-icon-button type="button" (click)="decrementItems()">
			<mat-icon>remove</mat-icon>
		</button>
		<span class="quantity-value">{{ noOfItems() }}</span>
		<button mat-icon-button type="button" (click)="incrementItems()">
			<mat-icon>add</mat-icon>
		</button>
	</div>

	<div class="button-wrapper">
		<button
			mat-flat-button
			type="button"
			(click)="addToCart()"
			class="button-container"
			[disabled]="stock() === 0"
		>
			Add to cart
		</button>
	</div>
</div>
