.intro-page {
	padding: 24px 16px;
	max-width: 500px;
	margin: 0 auto;
}

.centered {
	text-align: center;
}

.logo {
	width: 80px;
}

.arrow {
	width: 64px;
	height: 64px;
}

.arrow-offset {
	margin-right: 70px;
}

.step-image-container {
	text-align: center;
	position: relative;
}

.step-image {
	width: 80%;
}

.circle {
	position: absolute;
	top: -15px;
	border-radius: 50%;
	border: 1px solid var(--mat-sys-primary);
	background-color: var(--mat-sys-primary);
	color: var(--mat-sys-on-primary);
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	margin: 0;
}

.circle-left {
	left: 22%;
}

.circle-right {
	right: 33%;
}

.step-description {
	text-align: center;
	margin-top: 15px;
}

.step-description p {
	margin: 0 45px;
}

/* Continue button */
.continue-btn {
	width: 60%;
	margin: 2rem 0;
}
