.filler{
  flex: 1 1 auto;
}
.item-image-container{
  width: auto;
  height: 172px;
  text-align: center;
}
.item-image{
  height: 65%;
  width: 80%;
  position: relative;
  top: 25%;
}
.cards{
  margin: 80px 25px;

}
